<% @title="Our Team" %>
<% @description="The BCM would not be able to be run without our amazing staff members. Get to know them here or meet them in person!" %>
<div class="container">

  <h1>Our Team</h1>
  <p>The BCM would not be able to function without our amazing team of staff and ministry partners! These wonderful people are the ones who make it possible for the BCM to continue shining a light on the University of Florida campus. Read about them online and come on over to our building to get to know them in person!</p>

  <% if session[:user_id].present? %>
    <a href="/admin/staff">
      <button class="btn btn-success btn-lg">Add Staff Member</button>
    </a>
  <% end %>




  <div class="row">
    <% if @staff.present? %>
      <% @staff.each do |sm| %>
        <div class="col-sm-4">
          <% if sm.imageName && sm.imageData %>
            <img src="<%=url_for(:controller => 'get_involved', :action => 'show_staff_image', :id => sm.id)%>" class="img img-responsive" alt="Leaders" style="width: 100%;"/>
          <% end %>
        </div>

        <div class="col-sm-8">
          <div class="panel-heading">
            <h3> <%=sm.name%></h3>
          </div>

          <div class="panel-body">
            <p><%=sm.bio=%></p>
          </div>

          <% if session[:user_id].present? %>
          <div class="admin-section row">
            <hr>
            <div class="col-xs-2 col-xs-offset-8 h3">
              <%= link_to "", "/admin/edit_staff?id="+sm.id.to_s, {:class => "glyphicon glyphicon-pencil"}%>
            </div>
            <div class="col-xs-2 h3">
              <%= link_to "", "/admin/destroy_staff?id="+sm.id.to_s, {:class => "glyphicon glyphicon-trash", :method => :delete}%>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h1 style="padding-top: 35px;">No team members have been added!</h1>
    <% end %>
  </div>






  <div class="row">
    <% if @staff.present? %>
      <% @staff.each do |sm| %>
        <div class="col-lg-4 col-sm-6 small-group-cards">
          <div class="panel panel-default">
            <% if sm.imageName && sm.imageData %>
              <img src="<%=url_for(:controller => 'get_involved', :action => 'show_staff_image', :id => sm.id)%>" class="img img-responsive" alt="Leaders" style="width: 100%;"/>
            <% end %>
            <div class="panel-heading">
              <h3> <%=sm.name%></h3>

              <% if session[:user_id].present? %>
              <div class="admin-section row">
                <hr>
                <div class="col-xs-2 col-xs-offset-8 h3">
                  <%= link_to "", "/admin/edit_staff?id="+sm.id.to_s, {:class => "glyphicon glyphicon-pencil"}%>
                </div>
                <div class="col-xs-2 h3">
                  <%= link_to "", "/admin/destroy_staff?id="+sm.id.to_s, {:class => "glyphicon glyphicon-trash", :method => :delete}%>
                </div>
              </div>
              <% end %>
            </div>
            <div class="panel-body">
              <p><%=sm.bio=%></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1 style="padding-top: 35px;">No team members have been added!</h1>
    <% end %>
  </div>
</div>
