<% @title="Add Event" %>
<div class="container add-small-group-form">
    <h1>Create an Event</h1>

    <%= form_for @event, url: "/admin/add_event", html: {method: :post} do |f| %>
    <%= error_messages_for(f.object) %>
    <div class="row">
        <div class=" col-xs-6 col-xs-offset-3 panel">
            <div style="padding: 15px; color: black;">
                <div class="form-group">
                    <label for="title">Event Title</label>
                    <%= f.text_field(:title, class: "form-control", id: "title", placeholder: "Ex. Hoe Down")%>
                </div>

                <div class="form-group">
                    <!--Text area desc-->
                    <label for="description">Event Description</label>
                    <%= f.text_area(:description, class: "form-control", id:"description", rows: "6", placeholder: "Write a quick paragraph explaining who the leaders are, what the goal of the group is, what they're excited about, etc.") %>
                </div>

                <div class="form-group">
                    <!--Text field location-->
                    <label for="location">Location</label>
                    <%= f.text_field(:location, class: "form-control", id: "location", placeholder: "David Wood's House")%>
                </div>

                <div class="form-group" style="color:black;">
                    <!--Text field time-->
                    <label for="time">Date/Time</label>
                    <%= f.datetime_select( :event_date, :ampm => true, :minute_step => 15, :class => "form-control" )%>
                </div>

                <div class="form-group">
                    <!--Image-->
                    <label>Picture</label>
                    <%= f.file_field("uploaded_file") %>
                    <small id="imageHelp" class="form-text">JPG, PNG, GIF</small>
                </div>

                <%= f.submit("Create Event", class: "btn btn-primary pull-right") %>
            </div>
        </div>
    </div>
    <% end %>
</div>
