<div class="container add-small-group-form">
  <h1>Create Admin User</h1>

  <%= form_for@user, url: "/admin/add_user", html: {method: :post} do |f| %>
    <div class="form-group">
      <label for="first">First Name</label>
      <%= f.text_field(:first_name, class: "form-control", id: "first", placeholder: "Ex. Eddie")%>
    </div>

    <div class="form-group">
      <label for="last">Last Name</label>
      <%= f.text_field(:last_name, class: "form-control", id: "last", placeholder: "Ex. Gilley")%>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <%= f.text_field(:username, class: "form-control", id: "username", placeholder: "Ex. EGilley1")%>
    </div>

    <div class="form-group">
      <label for="email">Email Address</label>
      <%= f.text_field(:email, class: "form-control", id: "email", placeholder: "Ex. egilley@gmail.com")%>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <%= f.password_field(:password, class: "form-control", id: "password", placeholder: "Password")%>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Confirm Password</label>
      <%= f.password_field(:password_confirmation, class: "form-control", id: "passwordConfirm", placeholder: "Retype password")%>
    </div>

    <%= f.submit("Create User", class: "btn btn-default pull-right") %>
  <% end %>
</div>
