<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <div class="carousel-overlay"></div>

<!--Images in the carousel should be 6000x2700 pixels-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner fullheight" role="listbox">
    <div class="item active">
      <%= image_tag("1.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Baptist Collegiate Ministries</h1>
          <p>The UF BCM exists to connect students to a relationship with Christ.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("2.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Join Us For Gator</h1>
          <p>Gator is our weekly worship service in our building every Tuesday at 8:00.</p>
          </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("3.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Get Involved</h1>
          <p>We have all sorts of Bible studies and volunteer opportunities to get involved in! Contact us for more info.</p>
          </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>

<div class="main-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 icon-row">
        <div class="glyphicon-ring">
          <span class="glyphicon glyphicon-book glyphicon-bordered"></span>
        </div>
        <p style="padding-top:10px;">The BCM offers many opportunities for students to get involved in small groups. This includes specific groups for freshman, community groups for upper-classmen, as well as one-on-one discipleship.
        </p>
      </div>
      <div class="col-sm-4 icon-row">
        <div class="glyphicon-ring">
          <span class="glyphicon glyphicon-home glyphicon-bordered"></span>
        </div>
        <p style="padding-top:10px;">The BCM partners with local churches in order to help students get connected. By finding a church home, students get the chance to connect with brothers and sisters in Christ of all ages, allowing them to grow in their relationships with Christ.
        </p>
      </div>
      <div class="col-sm-4 icon-row">
        <div class="glyphicon-ring">
          <span class="glyphicon glyphicon-globe glyphicon-bordered"></span>
        </div>
        <p style="padding-top:10px;">The BCM cares deeply about helping others get to know Christ. This includes service projects around the community, setting up Gospel appointments with friends, and global mission trips.
        </p>
      </div>
    </div>

    <hr>

    <div class="event-area">
      <h1 id="upcoming-events">Upcoming Events</h1>
      <div class="row">
        <% @events = Event.where(['event_date > ?', DateTime.now]).order(:event_date) %>
        <% if @events.present? %>
          <% @events.each do |sm| %>
            <div class="col-lg-4 col-sm-6 small-group-cards">
              <div class="panel panel-default">
                <% if sm.imageName && sm.imageData %>
                  <img src="<%=url_for(:controller => 'get_involved', :action => 'show_event_image', :id => sm.id)%>" class="img img-responsive" alt="Leaders" style="width: 100%;"/>
                <% end %>
                <div class="panel-heading">
                  <h3> <%=sm.title%></h3>
                  <h5><%=sm.event_date.to_date.strftime("%A, %B %d - %I:%M")%></h5>
                  <h5><%=sm.location%></h5>

                  <% if session[:user_id].present? %>
                  <div class="admin-section row">
                    <hr>
                    <div class="col-xs-2 col-xs-offset-8 h3">
                      <%= link_to "", "/admin/edit_event?id="+sm.id.to_s, {:class => "glyphicon glyphicon-pencil"}%>
                    </div>
                    <div class="col-xs-2 h3">
                      <%= link_to "", "/admin/destroy_event?id="+sm.id.to_s, {:class => "glyphicon glyphicon-trash", :method => :delete}%>
                    </div>
                  </div>
                  <% end %>
                </div>
                <div class="panel-body">
                  <p><%=sm.description=%></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="container">
            <h3 style="padding-top: 35px;">No events have been posted recently.</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
