<div class="container" style="padding: 25px;">
  <div class="row">
    <div class="list-group col-xs-6 col-xs-offset-3">
      <h1>Alumni Newsletter</h1>
      <%= link_to "Fall 2013", "/newsletters/Fall-2013-Alumni.pdf", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Spring 2014", "/newsletters/Alumni_May-2014.pdf", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Fall 2014", "/newsletters/Fall-2014-Alumni.pdf", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Spring 2015", "/newsletters/May-2015.pdf", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Fall 2015", "/newsletters/Fall-2015-updated.pdf", :class => "list-group-item list-group-item-action", :target => "_blank" %>
    </div>
  </div>
</div>
