<% @title="Sermon Notes" %>
<% @description="The UF BCM has a weekly worship service with Bible teaching from Eddie Gilley. His sermon notes are available for download." %>
<div class="container" style="padding: 25px;">
  <div class="row">
    <div class="list-group col-xs-6 col-xs-offset-3">
      <h1>Sermon Notes</h1>
      <hr>
    </div>

    <div class="list-group col-xs-6 col-xs-offset-3">
      <h2>Fall 2015</h2>
      <%= link_to "Change Your Charts", "/sermon_notes/fall_2015/Change-your-charts.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Change Your Familiar", "/sermon_notes/fall_2015/Change-your-familiar.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Finding Truth: Principle 1", "/sermon_notes/fall_2015/Finding-Truth-Principle-1.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Finding Truth: Principle 2", "/sermon_notes/fall_2015/Finding-Truth-Principle-2.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Finding Truth: Principle 5", "/sermon_notes/fall_2015/Finding-Truth-Principle-5.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Finding Truth: Principle 34", "/sermon_notes/fall_2015/Finding-Truth-Principle-34.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Go Home", "/sermon_notes/fall_2015/Go-Home.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Invest in Others", "/sermon_notes/fall_2015/Invest-in-Others.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Lead From the Future", "/sermon_notes/fall_2015/Lead-from-the-future.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Radiate", "/sermon_notes/fall_2015/Radiate.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
    </div>

    <div class="list-group col-xs-6 col-xs-offset-3">
      <h2>Spring 2016</h2>
      <%= link_to "Encouragement for the Journey", "/sermon_notes/spring_2016/Encouragement-for-the-Journey.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Lead From the Future", "/sermon_notes/spring_2016/Lead-from-the-future.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Leaders Learn", "/sermon_notes/spring_2016/Leaders-Learn-Disciplines.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Leaders Take Risks", "/sermon_notes/spring_2016/Leaders-Take-Risks.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Live Urgently", "/sermon_notes/spring_2016/Live-Urgently.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Restoration is Possible", "/sermon_notes/spring_2016/Restoration-is-possible.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "The Work of Evil", "/sermon_notes/spring_2016/The-Work-Of-Evil-.pptx", :class => "list-group-item list-group-item-action", :target => "_blank" %>
    </div>
  </div>
</div>
