<div class="container" style="padding: 25px;">
  <div class="row">
    <div class="list-group col-xs-6 col-xs-offset-3">
      <h1>Testimonies</h1>
      <%= link_to "Josh Fetterman", "https://vimeo.com/114671291", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Riley O'Donnell", "https://vimeo.com/114668385", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Seana Reavis", "https://vimeo.com/149156089", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Alex Pettola", "https://vimeo.com/149155739", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Jonathan Lee", "https://vimeo.com/149156059", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Savannah Smith", "https://vimeo.com/149156087", :class => "list-group-item list-group-item-action", :target => "_blank" %>
      <%= link_to "Stacy Bramel", "https://vimeo.com/149155991", :class => "list-group-item list-group-item-action", :target => "_blank" %>
    </div>
  </div>
</div>
