<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | UF BCM</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="description" content="The UF Baptist Collegiate Ministry is a Christian organization on the University of Florida campus, dedicated to connecting students with a local church and to discovering a personal relationship with God.">
    <meta name="author" content="Josh Nassar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Original+Surfer" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body class="Site">

    <%= render "layouts/navbar" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="Site-content">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>

  </body>
</html>
